html{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-family: Verdana;
}
body{
    min-width:320px;
    margin:0;
    text-align:center;
    padding:0;
    color:white;
    background:orange;
}
#page{
    display:inline-block;
    text-align:justify;
    width:100%;
}
A:link{
    text-decoration: none;
    color:orange;
}
A:visited{
    text-decoration: none;
    color:orange;
}
A:active{
text-decoration: none}
A:hover{
    text-decoration: none;
    color:white;
}
h1{
    font-weight:normal;
    font-size:1em;
    padding:0;
    margin:0;
}
h2{
    font-weight:normal;
}
footer{
    text-align:center;
    width:100%;
    background:#1a1a1a;
    color:#efefef;
}
#footer-container{
    display:inline-block;
    text-align:left;
    width:100%;
}
#footer-text{
    padding:100px;
    font-size:.9em;
}
header{
    position:absolute;
    top:0;
    width:100%;
    text-align:left;
    min-width:320px;
}
#title{
    font-size:2em;
    display:block;
}
#title-text{
    padding:15px;
}
nav{
    display:inline-block;
    text-align:right;
    width:40%;
    vertical-align:top;
}
#nav-text{
    font-size:1.3em;
    padding:15px;
}
#hero{
    background: url("images/background-1920.jpg");
    background-size:cover;
    background-position:50%;
    text-align:center;
    height:95%;
    min-height:700px;
    display:table;
    width:100%;
}
#slogan{
    display:table-cell;
    vertical-align:middle;
    font-size:2em;
}
#pre-text{
    vertical-align:middle;
    padding-bottom:3em;
    display:inline-block;
}
#post-text{
    vertical-align:middle;
    padding-top:3em;
    display:inline-block;
}
#slant-line{
    display:inline-block;
    vertical-align:middle;
    height:300px;
    width:4px;
    border-radius:2px;
    background:orange;
    transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    -ms-transform:rotate(15deg);
}
#arrow-container{
    text-align:center;
}
#arrow{
    margin-top:-50;
    height:0px;
    width:0px;
    display:inline-block;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid orange;
    position:relative;
bottom:0}
#about{
    background:orange;
    color:#1a1a1a;
    text-align:center;
}
#about-text{
    display:inline-block;
    max-width:550px;
    text-align:left;
    padding:50px;
}
#projects{
    width:100%;
    position:relative;
    background:white;
}
#atquote-text-wrapper{
    width:50%;
    text-align:center;
    display:inline-block;
    background:#333333;
    vertical-align:middle;
}
#atquote-text{
    display:inline-block;
    text-align:left;
    padding:50px;
    max-width:550px;
}
#contact{
    vertical-align:middle;
    width:50%;
    display:inline-block;
    color:#1a1a1a;
    text-align:center;
}
#contact-text{
    text-align:left;
    padding:50px;
    max-width:550px;
    display:inline-block;
}
.floatright{
    float:right;
}
.highlight{
    color:orange;
}
@media screen and (max-width: 960px){
    #slant-line{
        display:inline-block;
        vertical-align:middle;
        width:90%;
        height:2px;
        border-radius:1px;
        background:orange;
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
    }
    #pre-text{
        display:block;
        padding:50px;
    }
    #post-text{
        display:block;
        padding:30px;
    }
}
@media screen and (max-width: 1200px){
    #atquote-text-wrapper{
        display:block;
        width:100%;
    }
    #contact{
        display:block;
        width:100%;
    }
}

